    		<script type="text/javascript" src="$static_server_name/js/kindeditor/kindeditor-min.js"></script>
    		<script type="text/javascript" src="$static_server_name/js/kindeditor/lang/zh_CN.js"></script>
			<link href="$static_server_name/css/admin-style.css" rel="stylesheet" type="text/css" />
		<table style="margin:auto;">
			<input type="hidden" id="id" value="$!news.id"/>
			<input type="hidden" id="type" value="$!news.type"/>
			<tr>
				<td>
					#if($!type==0) 
        				新闻标题：
        			#else 
        				通知标题：
        			#end 
				</td>
				<td>
					<input type="text" id="title" name="title" style="width:800px;" value="$!news.title" maxlength="50"/>
				</td>
			</tr>
			<tr>
				<td>
					#if($!type==0) 
        				新闻内容：
        			#else 
        				通知内容：
        			#end 
				</td>
				<td>
					<textarea id="kindeditor_id" name="kindeditortText" style="width:800px;height:400px;">$!news.content</textarea>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<button type="button" id="qx" style="float:right;" onclick="history.go(-1);">取消</button>
					<button type="button" name="tijiao" style="float:right;" value="保存" onclick="tjsave()">保存</button>
				</td>
			</tr>
        </table>
		<script type="text/javascript">
			var editor = null;
			$(function() {
				editor = KindEditor.create('textarea[name="kindeditortText"]',{
					items : [
						'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'image','insertfile', 'link'],
					uploadJson : '$server_name/kindeditor/file_upload',
					afterBlur : function(){this.sync();}
                });
			});
			
			function tjsave(){
        		if(!jQuery('#title').val()){
					alert('标题不能为空');
					return false;
				}
				if(!jQuery('#title').val().length > 50){
					alert('标题长度最多为50个字符');
					return false;
				}
				if(confirm('确定要发布吗？')==true){
        				var html = editor.html();
						if(html.length >102400){
							alert('抱歉，内容太多了，请缩减下！');
							return false;
						}
        				jQuery.post("$server_name/sys/news/save",{
        						id : jQuery('#id').val(),
        						title : jQuery('#title').val(),
        						content : html,
        						time : jQuery('#time').val(),
        						type : jQuery('#type').val()
        					},
        					function(data){
        						if(data==1){
        							alert('保存成功！');
									#if($!news.type==0) 
                        				window.location = '$server_name/sys/news/list';
                        			#else 
                        				window.location = '$server_name/sys/news/listNotice';
                        			#end
        						} else if(data==2){
									alert('操作失败，您未登录！');
									window.location = '$static_server_name/login.html';
								} else {
									alert('操作失败，请稍候重试！');
								}
        					});
				}
			}
		</script>