/*=== foot in bottom of browser begin======*/
* {
	margin: 0;
	padding: 0;
}
.bottomcut{position:fixed;bottom:0;left:0;z-index:9999;width:100%;}

/*=== foot in bottom of browser end======*/
ul{	
    height: auto;
}
li{
	float: left;
    height: auto;
    width: 100%;
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #f5fcf0;
	background-image: url(image/body_bg.png);
	background-repeat: repeat-x;
	font-family: "Microsoft YaHei";
	color: #125E72;
	/*min-width:994px;*/
}
#wrap{
	min-height:582px;
}

#head {
	padding: 6px 20px;
	height: 59px;
	background-image: url(image/head_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	color: #ffffff;
	position: relative;
}

#head .logo {
	float: left;
	width: 313px;
	height: 59px;
	background-image: url(image/logo.png);
	background-repeat: no-repeat;
	background-position: left;
}

#head #welcome,#head #login_reg {
	display: none;
	float: right;
	padding: 0 24px;
}

#head #welcome a {
	margin: 0 0 0 10px;
	color: #125e72;
}

#head #welcome a:hover {
	color: #ffffff;
}

#head a {
	color: #125e72;
}

#head a:hover {
	color: #ffffff;
}

#navigation {
	padding: 0 14px;
	height: 40px;
	background-color: #004a6e;
	color: #ffffff;
	font-size: 18px;
}

#navigation .now {
	background-color: #003250;
}

#navigation ul {
	margin: 0;
	padding: 0;
	height: 100%;
	list-style: none;
	float: left;
	z-index: 1000;
}

#navigation ul li {
	cursor: pointer;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	position: relative;
    width: auto;
    font-size: 14px;
}

#navigation .childs {
	position: absolute;
	white-space: nowrap;
	left: 0;
	height: auto;
	z-index: 888;
}

#navigation .childs li {
	float: none;
	background-color: #4388a7;
}

#navigation .childs li:hover {
	background-color: #004A6E;
}

#search {
	float: right;
	width: 160px;
	height: 40px;
	background-image: url(image/search_bg.png);
	background-repeat: no-repeat;
	background-position: left center;
	position: absolute;
    right: 40px;
    top: 34px;
}

#search :hover {
	cursor: pointer;
	background-image: url(image/search_bg_hover.png);
}

#search input {
	float: left;
	height: 23px;
	margin: 6px 0 4px 4px;
	width: 116px;
	background-color: f5f6f7;
}

#search div {
	float: left;
	width: 36px;
	height: 100%;
	background-image: url(image/searchbtn_bg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

#search div:hover {
	background-image: url(image/searchbtn_bg_hover.png);
}

#main {
	width: 999px;
	margin: 0 auto;
	min-height: 200px;
}

#main #left {
	float: left;
	width: 7px;
	min-height: 470px;
	background-image: url(image/shadow_left.png);
	background-repeat: no-repeat;
}

#main .right {
	float: left;
	width: 7px;
	min-height: 470px;
	background-image: url(image/shadow_right.png);
	background-repeat: no-repeat;
}

#main #content {
	float: left;
	width: 945px;
	min-height: 448px;
	background-color: #f5fcf0;
	padding: 20px 20px 0;
}

#main #content #location {
	color: #5a94ac;
	margin: 0 0 30px;
}

#main #content #list {
	padding: 0 0 0 2em;
}

#main #content #list li {
	clear: both;
	/*min-width: 834px;*/
}

.stylenone li {
	list-style: none outside none;
}

#main #content #list .title {
	width: 300px;
	height: 34px;
	background-image: url(image/title_bg.png);
	background-repeat: no-repeat;
	margin: 20px 0;
	padding: 3px 0;
	text-align: center;
}

#main #content #list .left {
	float: left;
	color: #498896;
	text-align: center;
	margin: 0 0 40px 0;
	padding: 8px 0 0;
}

#main #content #list .left .img {
	height: 148px;
	width: 124px;
	border: 1px solid #cccccc;
	background-color: #f9f9f9;
	padding: 2px;
}

#main #content #list .left .img img {
	height: 148px;
	width: 124px;
}

#main #content #list .left span {
	line-height: 34px;
}

#main #content #list .right {
	float: right;
	width: 520px;
	color: #000000;
	text-indent: 2em;
	margin: 0 0 40px 0;
	line-height: 26px;
}

#main #content #news {
	width: 100%;
	margin: 30px 0;
}

#main #content #news #headline {
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 10px 0;
}

#main #content #news #keywords {
	width: 100%;
	height: 30px;
}

#main #content #news #keywords li {
	float: left;
	padding: 0 20px 4px 0;
	font-size: 13px;
}

#main #content #news #keywords .name {
	color: #989797;
}

#main #content #news #keywords .value {
	color: #4c4949;
}

#main #content #news #detail {
	color: #4c4949;
}

#main #content #bottom {
	width: 100%;
}

#main #content #bottom li {
	margin: 0 0 10px 0;
}

#main #content #bottom .value {
	cursor: pointer;
	color: #5a94ac;
}

#main #content #bottom .name,#main #content #bottom .none {
	cursor: default;
	color: #aeb3b5;
}

#home {
	width: 985px;
	margin: 0 auto;
	padding: 10px 0px;
	min-height: 200px;
}

#home #logo {
	float: left;
	/*width: 335px;
	height: 451px;
	background-image: url(image/home_logo.png);
	background-repeat: no-repeat;*/
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	padding: 4px;
    width: 386px;
}

#home #center {
	float: left;
	/*width: 44px;
	height: 451px;
	background-image: url(image/dot_v.png);
	background-repeat: repeat-y;
	background-position: center top;*/
    width: 306px;

	color: #14466E;
    line-height: 24px;
    padding: 10px 5px 0;
	background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
	margin: 0 10px 0 0;
	font-size: 12px;
	min-height: 263px;
}

#home .right {
	float: left;
	color: #125e72;
	/*width: 590px;*/
}

#home .right #notice,#home .right #hotnews{
    
}
#home .right .time{
    color:#bbbbbb;
}
#home .right .title {
	background-repeat: no-repeat;
	background-position: 8px center;
	text-indent: 10px;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 8px 8px 28px;
}
#home .right #notice .title {
	background-image: url(image/notice_bg.png);
	background-color: #337e9f;
	color: #ffffff;
}
#home .right #rellinks .title {
	background-image: url(image/rellinks_bg.png);
	color: #125E72;
}
#home .right #report .title {
	background-image: url(image/report_bg.png);
	background-color: #ffffff;
	color: #125E72;
}
#home .right #hotnews .title {
	background-image: url(image/hotnews_bg.png);
	background-color: #ffffff;
	color: #125E72;
}
#home .right #meeting .title {
	background-image: url(image/meeting_bg.png);
	background-color: #ffffff;
	color: #125E72;
}

#home .right #notice .list{
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
	background-color: #ffffff;
}
#home .right #rellinks{
    margin:0 10px 0 0;
}
#home .right #rellinks .list {
    width: 188px;
	padding: 8px 0 8px 24px;
	height: auto;
}
#home .right #rellinks .imglist {
    /*width: 212px;*/
}
#home .right #rellinks .imglist img{
    width: 36px;
}
#home .right #report{
    margin:0 10px 0 0;
    border: 1px solid #DEDEDE;
	background-color: #ffffff;
}
#home .right #report .list{
    width: 466px;
	height: auto;
}
#home .right #report .list li{
    list-style:none;
}
#home .right #report .list .one{
    float:left;
	background-image: url(image/time_bg.png);
	background-repeat:no-repeat;
	width:61px;
	height:61px;
	color: #FFFFFF;
	margin: 0 10px 0 0;
    text-align: center;
}
#home .right #report .list .one .yearmonth{
    font-size: 12px;
    line-height: 20px;
}
#home .right #report .list .one .day{
    font-size: 24px;
}
#home .right #report .list .one .week{
    font-size: 10px;
}
#home .right #report .list .two{
    float:left;
	width: 370px;
}
#home .right #report .list .two span.bold{
    font-weight:bold;
}
#home .right #hotnews{
    border: 1px solid #DEDEDE;
	background-color: #ffffff;
}
#home .right #hotnews .list{
    overflow: hidden;
	list-style:none;
}
#marqueediv_hotnews{
    height:366px; 
	overflow:hidden;
}
#home .right #meeting{
	margin:  10px 0 0;
    border: 1px solid #DEDEDE;
	background-color: #ffffff;
}
#home .right #meeting .list{
	list-style:none;
	height: auto;
	margin: 0;
}


#home .right .doth {
	width: 100%;
	height: 10px;
	background-image: url(image/dot_h.png);
	background-repeat: repeat-x;
	background-position: left center;
}

#home .right .list li {
	margin: 0 0 10px 0;
	font-size: 12px;
}

#home .right #notice .list li:hover,#home .right #hotnews .list li:hover,#home .right #meeting .list li:hover,#home #report .list a:hover, {
	color: #0d3470;
	cursor: pointer;
}

#home .right .list {
	/*min-width: 463px;
	min-height: 147px;*/
	/*background-repeat: no-repeat;
	background-position: right bottom;*/

	overflow: auto;
	width: 235px;
    height: 248px;
    padding: 8px 12px;
	margin: 0 0 10px;
}

#home .right .more {
	cursor: pointer;
	text-align: right;
	float: right;
	font-size: 12px;
    font-weight: normal;
    line-height: 19px;
}

#home .right .more:hover {
	text-decoration:underline;
}

#list {
	color: #125e72;
	margin: 30px 0 30px 0px;
}

#list li {
	cursor: pointer;
	margin: 0 0 10px;
}

#collegedetail {
	text-indent: 2em;
	line-height: 30px;
	color: #000000;
	margin: 30px 0;
}

#main .keyan {
	color: #498896;
	text-align: left;
}

#main .keyan .name {
	font-weight: bold;
}

#main .keyan li {
	padding: 0 0 20px 0;
}

#main .keyan li div {
	padding: 0 0 5px 0;
}

#main #searchlist {
	color: #b4b8b1;
	text-align: left;
	margin: 30px 0;
}

#main #searchlist #biaoti {
	color: #555555;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #e5e5e4;
	border-bottom: 1px solid #e5e5e4;
}

#main #searchlist #neirong {
	
}

#main #searchlist ul li {
	list-style: none;
	background-image: url(image/dot_h.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 25px;
	padding: 2px 0;
}

#main #searchlist .one,#main #searchlist .two,#main #searchlist .three,#main #searchlist .four
	{
	display: block;
	float: left;
}

#main #searchlist .one {
	width: 50%;
	padding: 0 0 0 10px;
}

#main #searchlist .two {
	width: 10%;
}

#main #searchlist .three {
	width: 15%;
}

#main #searchlist .four {
}

#earth {
	width: 43px;
	height: 106px;
	position: absolute;
	right: 0;
	top: 30px;
	background-image: url(image/earth.png);
	background-repeat: no-repeat;
}

#foot {
	height: 20px;
    color:#ffffff;
	padding: 10px 20px;
	text-align: center;
	background-color: #004a6e;
}

#pages {color: #000000;font-size: 12px;padding: 8px 0px; text-align:center;}
#pages  span{color: #c1c1c1;margin: 0px 3px;border:1px solid #ccc; display:inline-block; vertical-align:middle;}
#pages .span_slh{border:0px; margin:0; padding:0; color: #333;}
#pages .span_bky{ border:1px solid #c1c1c1; padding:2px 6px; cursor:default;}
#pages .span_dty{ border:1px solid #669900; background:#99CC33; color:#fff; font-weight:bold; padding:2px 6px; }
#pages span a {text-decoration:none; color:#333; padding:2px 6px; display:block;}
#pages span a:hover { color:#fff;  background:#99CC33;}

a:link {color: #5a94ac;}               /* δ�����ʵ�����*/
a:visited {color: #5a94ac;}            /* �ѱ����ʹ������ */
a:hover {color: blue;cursor: pointer;}            /* ��������ϵ�����*/
a:active {color: blue;}

.gradualBlue,.gradualOrange,.gradualRed,.gradualGray {
	display: inline-block;
	width: auto;
	height: 20px;
	line-height: 20px;
	color:#FFFFFF;
	font-size:12px;
	font-family:"����",Arial;
	padding:0 5px;
	text-align:right;
	margin: 0 8px 0 0;
	border:none;
	*width: 70px;
	*display: block;
	*float:left;
}

.gradualBlue a,.gradualOrange a,.gradualRed a,.gradualGray a{
        color:#fff;
}
.gradualBlue {
	filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6d9fde, endcolorstr=#4583d2,gradientType=0);
	-ms-filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6d9fde, endcolorstr=#4583d2,gradientType=0);
	background: #4583d2; 
	background: -moz-linear-gradient(top, #6d9fde, #4583d2);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6d9fde),to(#4583d2));
}
.gradualOrange {
	filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#f5a623, endcolorstr=#f18a00,gradientType=0);
	-ms-filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#f5a623, endcolorstr=#f18a00,gradientType=0);
	background: #f18a00; 
	background: -moz-linear-gradient(top, #f5a623, #f18a00);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f5a623),to(#f18a00));
}
.gradualRed {
	filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e5787a, endcolorstr=#d53134,gradientType=0);
	-ms-filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e5787a, endcolorstr=#d53134,gradientType=0);
	background: #d53134; 
	background: -moz-linear-gradient(top, #e5787a, #d53134);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e5787a),to(#d53134));
}
.gradualGray {
	filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#dddddd, endcolorstr=#bbbbbb,gradientType=0);
	-ms-filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#dddddd, endcolorstr=#bbbbbb,gradientType=0);
	background: #bbbbbb; 
	background: -moz-linear-gradient(top, #dddddd, #bbbbbb);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dddddd),to(#bbbbbb));
}

#main .twocolumnleft {
    width: 200px;
    float: left;
    margin: 35px 0 0;
}
#main .twocolumnleft li{
    list-style:none;
}

#main .twocolumnleft li div:hover{
    cursor: pointer;
    text-decoration:underline;
}

#main .twocolumnleft li.first div{
	background-color:#ffffff;
    margin:0 5px 5px 0;
    padding: 5px;
    border-left:1px solid #DEDEDE;
    border-top:1px solid #DEDEDE;
    border-bottom:1px solid #DEDEDE;
}
#main .twocolumnleft li.second div{
	background-color:#ffffff;
    margin: 0 5px 5px 20px;
    border-left:1px solid #DEDEDE;
    border-top:1px solid #DEDEDE;
    border-bottom:1px solid #DEDEDE;
}
#main #content.twocolumnright {
    width: 745px;
}
#main .twocolumnleft li div.now{
    background-color: #72a7ba;
    color: #FFFFFF;
}