<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Admin Console</title>
	</head>

	<frameset rows="111,*,40" cols="*" frameborder="no" border="0"
		framespacing="0">
		<frame src="$server_name/admin/top"
			name="topFrame" scrolling="No" noresize="noresize" id="topFrame"
			title="topFrame" />
		<frameset cols="213,*" frameborder="no" border="0" framespacing="0">
			<!---
			<frame src="$server_name/admin/left"
				name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame"
				title="leftFrame" />
			--->
			<frame src="$server_name/admin/mainfra"
				name="mainFrame" id="mainFrame" title="mainFrame" />
		</frameset>
    	<frame src="$server_name/admin/bottom"
    		name="bottomFrame" scrolling="No" noresize="noresize" id="bottomFrame"
    		title="bottomFrame" />
	</frameset>
	
	<noframes>
		<body>
		</body>
	</noframes>
</html>
