<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>菜单详情页</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.tabfont01 {	
	font-family: "宋体";
	font-size: 9px;
	color: #555555;
	text-decoration: none;
	text-align: center;
}
.font051 {font-family: "宋体";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
}
.font201 {font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}
.button {
	font-family: "宋体";
	font-size: 14px;
	height: 37px;
}
html { overflow-x: auto; overflow-y: auto; border:0;} 
-->
</style>
<script type="text/JavaScript">

</script>
<link href="$static_server_name/css/admin-style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table id="subtree1" style="DISPLAY: " width="100%" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
	         
              <tr>
                <td height="40" class="font42">
					<table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#464646" class="newfont03">
					 <tr>
                        <td height="20" colspan="9" align="center" bgcolor="#EEEEEE"class="tablestyle_title">
							菜单预览
    					</td>
                    </tr>
    			  #if($!menu)
	    		      <tr>
				    <td width="15%" height="20" align="right" bgcolor="#FFFFFF">ID:</td>
                    <td width="85%" align="left" bgcolor="#FFFFFF">$!menu.getId()</td>
                    </tr>
					<tr>
				    <td height="20" align="right" bgcolor="#FFFFFF">名称:</td>
                    <td bgcolor="#FFFFFF">$!menu.getName()</td>
                    </tr>
                  <tr>
				    <td height="20" align="right" bgcolor="#FFFFFF">描述:</td>
                    <td bgcolor="#FFFFFF">$!menu.getTip()</td>
                    </tr>
                    <tr>
				    <td height="20" align="right" bgcolor="#FFFFFF">父菜单:</td>
                    <td bgcolor="#FFFFFF">$this.getMenuName($!menu.getParentId())</td>
                    </tr>
                    <tr>
				    <td height="20" align="right" bgcolor="#FFFFFF">系统:</td>
                    <td bgcolor="#FFFFFF">$this.getSystemName($!menu.getSystemId())</td>
                    </tr>
                    <tr>
				    <td height="20" align="right" bgcolor="#FFFFFF">排序:</td>
                    <td bgcolor="#FFFFFF">$!menu.getSorting()</td>
                    </tr>
                    <tr>
				    <td height="20" align="right" bgcolor="#FFFFFF">动作:</td>
                    <td bgcolor="#FFFFFF">$!menu.getAction()</td>
                    </tr>
                    <tr>
				    <td height="20" align="right" bgcolor="#FFFFFF">类型:</td>
                    <td bgcolor="#FFFFFF">$!menu.getType()</td>
                    </tr>
                    <tr>
				    <td height="20" align="right" bgcolor="#FFFFFF">图片:</td>
                    <td bgcolor="#FFFFFF">$!menu.getImg()</td>
                    </tr>
    	          #end
                  
                  
                </table></td>
              </tr>
            </table></td>
        </tr>
      </table>
      </td>
  </tr>
  <tr>
			<TD colspan="2" align="center" height="50px">
			
			<input type="button" name="Submit2" value="返回" class="button" onclick="window.history.go(-1);"/></TD>
		</tr>
</table>
</form>
</body>
</html>
