<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="$static_server_name/css/base.css" />	
        <script type="text/javascript" src="$static_server_name/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="$static_server_name/js/jquery.json-2.3.min.js"></script>
        <script type="text/javascript" src="$static_server_name/js/jquery-jsonformat-ui.js"></script>
        <script type="text/javascript" src="$static_server_name/js/base.js"></script>
	</head>
	<body>
		<div id="main">
        	<div id="content">
        		$screen_content
        	</div>
        </div>
	</body>
</html>