@charset "utf-8";
/*====================================================
Website:http://www.zfsoft.com
Auther:wuming
Recently:wuming(2013-05-09)
=======================================================*/
html{}
body{margin:0;padding:0;width:100%;font-size:12px;background-color:#eaf5fe;}
body.parent{background-image:url(images/zy_bg.gif);background-repeat:repeat-x;}
.body_main{ margin: 0 auto;}
a:hover{
	cursor:pointer;
}

/*=====================全局样式========================*/
.tubiao{}
.del{background:url(images/delete.gif) no-repeat left center;width:25px;height:30px; overflow:hidden; line-height:30px; display:block;cursor:pointer;}
/*=====================搜索表单========================*/
.search_input{ border:1px solid #ced3d7; color:#333333; padding:0px 5px; width:100px; font-size:12px; height:18px; line-height:18px;}
.search_type{ width:150px; height:20px;}
.search_ss{ width:52px; height:21px; background:url(images/zyml_search_ss.gif) no-repeat; cursor:pointer; vertical-align:top}

/*=====================普通表格========================*/
.formlist { border-collapse:collapse; width: 100%; text-align: left; color:#333333;}
.formlist th{ font-weight: normal;border-top:0px solid #dbdbdb; border-bottom:1px solid #dbdbdb;background: url("images/ui-bg_glass_80_d7ebf9_1x400.gif") repeat-x scroll 50% 50% #D7EBF9; height:25px; line-height:25px; padding:0px 20px;}
.formlist td{height:30px; line-height:30px; padding:0px 20px;border-bottom:1px dashed #aabac6;}
.formlist tr:hover{ background:#f8e2c2; cursor:pointer}

.formlist1 { border-collapse:collapse; width: 100%; text-align: left; color:#333333;}
table.formlist1,table.formlist{
    margin-bottom: 16px;
}
.tableHeadDiv table.formlist1{
    margin-bottom: 0px;
}
.formlist1 th{ border-top:0px solid #dbdbdb; border-bottom:0px solid #dbdbdb;  height:25px; line-height:25px; padding:0px 20px;}
.formlist1 td{height:35px; line-height:35px;padding:10px 20px;}
.formlist1 tbody tr{border-bottom:1px dashed #aabac6;}
/*=====================表格中的预览表格========================*/
.previewTable{
    width:100%;
    border:0;
}
.previewTable tbody tr{
    border:0;
}
.previewTable tbody td.layer2 {
	padding: 0 0 0 44px;
}

/*不用=====================弹出框表格========================*/
.open_table{ width:100%;}
.open_table .table01{border:1px solid #b0cbe0; width:100%;}
.open_table .table01 tr th{height:35px;background:#f3f5f8; text-align:right; padding-right:10px; color:#333333; font-weight:normal; width:20%;}
.open_table .table01 tr td{height:35px;text-align:left; padding-left:10px; color:#333333;}

/*不用=======弹出窗口=========*/
.fieldlist { margin:0 auto; margin-bottom:4px; border:#b5d0e5 1px solid; background:#F6F9FE; }
.fieldlist tbody td { padding:4px 8px 4px 8px; }
.fieldlist thead th { text-align:left; padding:10px 8px 0 8px; color:#1262b9;}
.fieldlist tbody td select { width:182px; margin:0; }
.fieldlist .btn { float:right; margin-right:10px;}
.fieldlist tfoot td { padding:6px 2px 6px 6px; }
.fieldlist .btn_choose { text-align:center; }
.tab_box { position: relative;width:100%; border:#b3cee3 1px solid; background:#fff;}
.tab_box h3 { text-align:center; height:26px; line-height:26px; width:100%; font-weight:bold; border-bottom:#b3cee3 1px solid; background:#eaf4ff; color:#0356a2;}
.fieldlist_left{ float:left; color:#1262b9; font-weight:bold; padding-top:10px;}
.fieldlist_right{ float:right;padding-top:10px;}
.fieldlist_right a{ color:#1262b9; text-decoration:underline}


/*不用=====================分页========================*/
.page{ width:100%; height:30px; padding-top:5px;background:#f5f5f5;margin:0 auto; text-align:center; margin-top:20px;}
.cutpage{font-size:12px;}
.cutpage a{display:inline-block; width:25px;height:23px;line-height:23px; background:#FFF; border:1px solid #cccccc; color:#0066d5}
.cutpage a:hover{ font-weight:bold; color:#ff0000; background:#ffeee5; border:1px solid #ff5500}
.cutpage a.cur{font-weight:bold; color:#ff0000; background:#ffeee5; border:1px solid #ff5500}
.cutpage .prev{display:inline-block;width:25px;height:23px;line-height:23px;background:url(images/pageprev.gif) no-repeat;}
.cutpage .prev:hover{background:url(images/pageprev.gif) no-repeat;}
.cutpage .next{width:25px;height:23px;line-height:23px;background:url(images/pagenext.gif) no-repeat;}
.cutpage .next:hover{background:url(images/pagenext.gif) no-repeat;}
.cutpage .pagecount{ color:#808080}
.cutpage .pageinputnum{color:#808080; margin-left:8px;}
.cutpage .pageinputnum input{ width:25px; border:1px solid #cccccc;margin:0px 5px}
.cutpage .pageinputbut input{ height:25px;_height:22px; width:35px; padding:0px; margin-left:5px;}

/*=====================顶部========================*/
.topframe{ width: 100%; height: 87px;background: url(images/zy_top_bg.gif) no-repeat;}
.top_logo{ width: 220px; height:59px;float: left;margin: 15px 0 0 10px;background: url(images/logo/logo.gif) no-repeat;}
.top_logo1{ padding-top: 30px; float: left;background: url(images/logo/zyml_logo.gif) no-repeat 0 bottom;width: 200px; height:26px;}
.top_right{ float: right; padding: 10px 10px 0 0; color: #3e5d88; font-size: 12px; height: 25px; line-height: 25px}
.top_right a{ color: #666666;}
.top_quit{ /*margin: 3px 8px; padding-top: 0px;background: url(images/quit.gif) no-repeat;padding-top: 0; */width: 50px;/*height:17px;display: block;*/}

/*=====================底部========================*/
.botframe{ color:#60819d; text-align:center; padding:10px 0px;min-height:20px;}
.botframe a{ color:#60819d;padding-right:10px;}
.botframe span{ padding-right:10px;}

/*不用=====================导航========================*/
.navframe{ width: 100%; height: 37px; background: #4885d4;padding-left: 15px;}
.navframe ul{ height:32px;padding-top: 5px; float:left;}
.navframe ul li{ float: left;height: 32px; line-height: 32px; margin: 0 0px; font-size: 12px;}
.navframe ul li a{float: left;padding: 0 12px;display: block; color: #ffffff;text-align: center;}
.navframe ul li a:hover{ background: #fff; color: #155fbe; border-top-right-radius:3px;border-top-left-radius:3px; }
.navframe ul li a.cur{background: #fff; color: #155fbe; border-top-right-radius:3px;border-top-left-radius:3px;}
.navframe2{ width:100%; height:37px; line-height:37px; background:#f1f3f5;  clear:both; }
.navframe2 ul { float:left;padding-top:8px;padding-left:20px;}
.navframe2 ul li{ width:auto; margin:0px 10px 0px 0px; padding:0px 15px 0px 0px;float:left; border-right:1px solid #ddd;height:20px; line-height:20px;}
.navframe2 ul li a{ color:#155fbe; display:block; padding:0px 5px;}
.navframe2 ul li a:hover{ background:#ebeff1; border:1px solid #cbd2d9; border-radius:2px; color:#333333; font-weight:bold;}
.navframe2 ul li a.cur{ background:#ebeff1; border:1px solid #cbd2d9; border-radius:2px; color:#333333;font-weight:bold}
.navframe2_help a{ float:right; color:#666666; background:url(images/zyml_help.gif) no-repeat left center; padding:0px 10px 0px 20px;}
.navframe_01{ float:left; overflow:hidden;}
.navframe_02{height:32px;float:left}
.navframe_02left{ float:left; width:10px;height:15px; margin-top:10px;background:url(images/arrow4-white-left.gif) no-repeat left center; display:block}
.navframe_02right{ float:left; width:10px;height:15px; margin-top:10px;background:url(images/arrow4-white-right.gif) no-repeat left center;display:block}

/*=====================内容========================*/
.mainframe{padding:0 0 5px 0;width: 100%;  background: #ffffff; border: 0px solid #d6e3f4;min-height:400px; margin:0 auto;}
.mainframe_nav{ height: 36px;background: url(images/zyml_con_nav.gif) repeat-x; /*overflow:hidden;*/}
.mainframe_nav_left{color: #155fbe; font-weight: bold; height:14px; line-height:14px;float:left; margin: 11px 15px;display:inline;padding-left:20px; background:url(images/location.gif) no-repeat;}
.mainframe_nav_left a{color: #155fbe;} 
.mainframe_nav_right{ float:right; height:20px; line-height:20px;padding: 0;margin: 8px 0;}
.sq{  color:#438fca; padding-right:10px; padding-left:15px;}
.tj a,.tjsx a{ color:#FFF; padding-left:11px;background:url(images/add.gif) left center no-repeat;}
.bc a{ color:#FFF; padding-left:14px;background:url(images/save.gif) left center no-repeat;}
.goBack a{ color:#FFF; padding-left:14px;background:url(images/goBack.gif) left center no-repeat;}
.fanhui a{ background:url(images/fanhui.gif) left center no-repeat; color:#438fca; padding-right:10px; padding-left:15px;}
.lock-open a{ color:#FFF; padding-left:18px;background:url(images/lock-open.gif) left center no-repeat;}
.lock-closed a{ color:#FFF; padding-left:14px;background:url(images/lock-closed.gif) left center no-repeat;}
.mainframe_content{ margin: 10px 10px 10px 10px;
    text-align: center;     
    color: #362B36;
    /*min-height: 430px;*/
}
.roundBorder{
	border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #DDDDDD;
}
.tableHeadDiv{
    background: url("images/ui-bg_highlight-soft_100_deedf7_1x100.gif") repeat-x scroll 50% 50% #DEEDF7;
    color: #222222;
    font-weight: bold;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-color: -moz-use-text-color -moz-use-text-color #DBDBDB;
    border-bottom-color:#DBDBDB;
    border-style: none none solid;
    border-width: 0 0 1px;
}

/*=====================申请成为领域专家========================*/
.sqcwlyzj{ width:100%; margin-top:50px;}
.sqcwlyzj table{ font-size:14px; color:#666666}
.sqcwlyzj table tr{ height:40px;}
.sqcwlyzj table tr td .red{ color:#ff0000; margin-right:5px;}
.sqcwlyzj table tr td .sqcwlyzj_input{ width:300px; height:28px; line-height:28px; border:1px solid #cfcfcf; border-radius:1px; margin-left:10px; padding:0px 5px; background:#f9f9f9; color:#888888; cursor:pointer}
.sqcwlyzj table tr td .sqcwlyzj_input2{ width:300px; height:28px; line-height:28px; border:1px solid #aac2d4; border-radius:1px; margin-left:10px; padding:0px 5px; background:#f6fbff; color:#333333;-webkit-transition: box-shadow 0.30s ease-in-out; -moz-transition:  box-shadow 0.30s ease-in-out;}
.sqcwlyzj table tr td .sqcwlyzj_input2:focus{ background:#ffffff;box-shadow: 0 0 8px #f5ce47}  
.sqcwlyzj table tr td .sqcwlyzj_input3{ width:175px; height:28px; line-height:28px; border:1px solid #aac2d4; border-radius:1px; margin-left:10px; padding:0px 5px; background:#f6fbff; color:#333333;-webkit-transition: box-shadow 0.30s ease-in-out; -moz-transition:  box-shadow 0.30s ease-in-out; float:left;}
.sqcwlyzj table tr td .sqcwlyzj_input3:focus{ background:#ffffff;box-shadow: 0 0 8px #f5ce47}  
.sqcwlyzj table tr td .code{ margin:3px 10px;display:block; float:left;}
.sqcwlyzj table tr td .code1{ color:#155fbe; font-size:12px;line-height:28px;text-decoration:underline;  display:block; float:left;}
.sqcwlyzj table tr td .sqcwlyzj_input4{margin:20px 10px 50px 10px;background:url(images/zyml_sqcwlyzj_but.jpg) no-repeat;width:154px;height:48px;display:block;padding:0;border:0;cursor:pointer;}

/*===================== 系统流程图========================*/
.xtlct_con{ position: relative;width:854px; height:514px; overflow:hidden;text-align:center; margin:30px auto; padding-top:10px; background:url(images/zyml_xxlct_bg.jpg) no-repeat;}
.xtlct_con1{ height:105px; overflow:hidden; clear:both; width:100%}
.xtlct_con1 ul{ padding:30px 0px 0px 24px;}
.xtlct_con1 ul li{height:50px;line-height:50px;float:left; cursor:pointer;color:#687A84; margin-right:30px;}
.xtlct_con1 ul li a{ display:block;color:#687A84;}
.xtlct_con1_1{ width:103px; line-height:50px; background:url(images/zyml_xxlct1.jpg) no-repeat;}
.xtlct_con1_2 a{ width:193px;height:50px; padding-top:10px;line-height:16px;background:url(images/zyml_xxlct3.jpg) no-repeat;}
.xtlct_con1_2 a:hover{ color:#FFF;background:url(images/zyml_xxlct3x.jpg) no-repeat;}
.xtlct_con1_3 a{ width:123px; line-height:50px; background:url(images/zyml_xxlct2.jpg) no-repeat;margin-left:240px;}
.xtlct_con1_3 a:hover{ color:#FFF;background:url(images/zyml_xxlct2x.jpg) no-repeat;}
.xtlct_con2{ height:160px; overflow:hidden; clear:both; width:100%}
.xtlct_con2 ul{ padding:55px 0px 0px 170px;}
.xtlct_con2 ul li{ position:relative; float:left; margin-right:28px;}
.xtlct_con2 ul li a{color:#687A84;width:123px; height:50px; line-height:50px;display:block;background:url(images/zyml_xxlct2.jpg) no-repeat;}
.xtlct_con2 ul li a:hover{ background:url(images/zyml_xxlct2x.jpg) no-repeat; color:#FFF}
.xtlct_con2_3 a:hover{ background:url(images/zyml_xxlct2x.jpg) no-repeat; color:#FFF}
.xtlct_con2_3 a.cur{background:url(images/zyml_xxlct2x.jpg) no-repeat; color:#FFF}
.xtlct_conmore{ position:absolute; z-index:2; right:-5px; top:-5px; width:13px; height:12px; background:url(images/zyml_xxlct5.gif) no-repeat; display:block}
.xtlct_con3{ height:135px; overflow:hidden;clear:both; width:100%}
.xtlct_con3 ul{ padding:28px 0px 0px 327px;}
.xtlct_con3 ul li{ position:relative; height:50px; line-height:50px;float:left;}
.xtlct_con3 ul li a{color:#687A84; display:block;}
.xtlct_con3_1{width:114px;color:#687A84;background:url(images/zyml_xxlct4.jpg) no-repeat;}
.xtlct_con3_2 a{width:123px;margin-left:31px;background:url(images/zyml_xxlct2.jpg) no-repeat;}
.xtlct_con3_2 a:hover{ background:url(images/zyml_xxlct2x.jpg) no-repeat; color:#FFF}
.xtlct_con3_2 a.cur{background:url(images/zyml_xxlct2x.jpg) no-repeat; color:#FFF}
.xtlct_conmore_num{ position:absolute; z-index:2; right:-13px; top:-5px; width:26px; height:15px; line-height:15px; color:#FFF; background:url(images/zyml_xxlct6.gif) no-repeat; display:block}
.xtlct_con4{ height:105px; overflow:hidden; clear:both; width:100%}
.xtlct_con4 ul{ padding:27px 0px 0px 25px;}
.xtlct_con4 ul li{height:50px; display:block; float:left; line-height:50px; cursor:pointer;color:#687A84; }
.xtlct_con4 ul li a{ display:block;color:#687A84; }
.xtlct_con4_1{ width:103px; background:url(images/zyml_xxlct1.jpg) no-repeat;}
.xtlct_con4_2 a{ width:123px; background:url(images/zyml_xxlct2.jpg) no-repeat; margin-left:580px;}
.xtlct_con4_2 a:hover{ color:#FFF;background:url(images/zyml_xxlct2x.jpg) no-repeat;}

/*=====================操作日志========================*/
.curz_search{ height:30px;}
.curz_search span{ margin-right: 15px; color:#333333; display:block; float:left;height:22px; line-height:22px;}

/*=====================领域专家流程图========================*/
.lyzjlct_con{position:relative; width:854px; height:247px;overflow:hidden;text-align:center;background:url(images/zyml_lyzjlct_bg.jpg) no-repeat; margin:30px auto; padding-top:10px;}
.lyzjlct_con1{ height:105px; overflow:hidden;width:100%}
.lyzjlct_con1 ul{ padding:30px 0px 0px 26px;}
.lyzjlct_con1 ul li{float:left;height:50px;width:103px;line-height:50px; display:block;color:#687A84;margin-right:27px;}
.lyzjlct_con1 ul li a{display:block;height:50px;color:#687A84;background:url(images/zyml_xxlct1.jpg) no-repeat;}
.lyzjlct_con1 ul li a:hover{background:url(images/zyml_xxlct1x.jpg) no-repeat; color:#FFF}
.lyzjlct_con1_1{color:#687A84;background:url(images/zyml_xxlct1.jpg) no-repeat; cursor:pointer}
.lyzjlct_con1_5{background:url(images/zyml_xxlct1.jpg) no-repeat; margin-left:70px; cursor:pointer}
#lyzjlct_con1_3{ width:123px;}
#lyzjlct_con1_3 a{background:url(images/zyml_xxlct2.jpg) no-repeat;} 
#lyzjlct_con1_3 a:hover{background:url(images/zyml_xxlct2x.jpg) no-repeat; color:#FFF} 
#lyzjlct_con1_3 a.cur{background:url(images/zyml_xxlct2x.jpg) no-repeat; color:#FFF} 

#lyzjlct_con1_4{ margin-left:65px;width:123px;}
#lyzjlct_con1_4 a{background:url(images/zyml_xxlct2.jpg) no-repeat;} 
#lyzjlct_con1_4 a:hover{background:url(images/zyml_xxlct2x.jpg) no-repeat; color:#FFF} 
#lyzjlct_con1_4 a.cur{background:url(images/zyml_xxlct2x.jpg) no-repeat; color:#FFF} 

.lyzjlct_con2{ margin-top:28px;height:105px; overflow:hidden; width:100%}
.lyzjlct_con2 ul{ padding:25px 0px 0px 285px;}
.lyzjlct_con2 ul li{height:50px;line-height:50px;float:left;position: relative;}
.lyzjlct_con2 ul li a{ display:block;color:#687A84;}
.lyzjlct_con2_1 a{width:123px;background:url(images/zyml_xxlct2.jpg) no-repeat;}
.lyzjlct_con2_1 a:hover{color:#ffffff;background:url(images/zyml_xxlct2x.jpg) no-repeat;}
.lyzjlct_con2_1 a.cur{background:url(images/zyml_xxlct2x.jpg) no-repeat; color:#FFF}
.lyzjlct_conmore_num{ position:absolute; z-index:2; right: -13px;top: -7px; width:26px; height:15px;line-height:15px; color:#FFF; background:url(images/zyml_xxlct6.gif) no-repeat; display:block}
.lyzjlct_conmore_num_green{ position:absolute; z-index:2; right:18px;top:83px; width:26px; height:15px;line-height:15px; color:#FFF; background:url(images/zyml_xxlct7.gif) no-repeat; display:block}
.lyzjlct_conmore_num_orange{ position:absolute; z-index:2; right:45px;top:-24px; width:26px; height:15px;line-height:15px; color:#FFF; background:url(images/zyml_xxlct6.gif) no-repeat; display:block}
.lyzjlct_con2_2 a{width:114px;background:url(images/zyml_xxlct4.jpg) no-repeat; margin-left:99px; margin-top:2px;}

/*=====================待审核分类========================*/
.dshfllct_con{ width:100%}
.dshfllct_con1{ /*width:100%;*/ height:22px; line-height:22px;padding:10px 10px 0 10px;}
.dshfllct_con1 .dshleft{ float:left; background:url(images/i.gif) center left no-repeat; padding-left:20px; color:#888888; margin-left:5px;}
.dshfllct_con1 .dshright{ float:right;}
.dshfllct_con1 .dshright a{ color:#FFF; display:block}
.mainframe_nav_right .dshright_tg a,.mainframe_nav_right .dshright_btg a {color: #FFFFFF;}
.dshfllct_con .fontw{ font-weight:bold}
.dshfllct_con .fontblue{ color:#155fbe; padding:0px 2px;}

/*=====================审核分类========================*/
.shfllct_con{ width:100%; height:auto; border:0px solid #e9e9e9; display:block;}
.shfllct_con1{ width:100%; height:26px; background:#f4f4f4; border-radius: 6px 6px 0px 0px;line-height:26px;}
.shfllct_con_shu{ margin:20px;}
.shfllct_con1_left{float:left; margin-left:10px; color:#999999}
.shfllct_con1_left .edit{ color:#155fbe; margin-right:10px;}
.shfllct_con1_left .shz{ color:#168500; margin-right:10px;}
.shfllct_con1_left .shbtg{ color:#ff1e00; margin-right:10px;}
.shfllct_con1_right{ float:right; margin-top:0px;}

/*=====================登录页面========================*/
.login_main{ width:1000px;margin:0 auto}
.login{ background:url(images/zyml_login_bg.jpg)  no-repeat; width:100%; height:531px; margin:0px 0px 0px 0px; display:block}
.login_left{ width:460px; float:left;padding:35px 50px }
.login_right{ float:right; width:440px;padding-top:134px;}
.login_right .login_logo{ height:63px;background:url(images/zyml_login_logo.jpg) left top no-repeat;}
.login_right .login_form{ width:355px; height:280px;}
.login_right .login_form .login_form_table{ width:280px; margin:0 auto; margin-top:30px;}
.login_right .login_form .login_form_table .title{ font-size:14px; color:#333333; font-weight:bold}
.login_right .login_form .login_form_table tr{ height:38px; line-height:38px;}
.login_right .login_form .login_form_table tr td input{width:265px;height:30px; padding:0px 5px; font-size:20px; line-height:30px;border: 1px solid #d3d3d3;background-color: #ffffff;}
.login_right .login_form .login_form_table input.submit{ border:0;margin:0;padding:0;width:276px; height:33px; display:block;cursor: pointer;  background:red url(images/zyml_login_but.jpg) no-repeat}
.loginerror{height:28px; width:275px;text-align:left; line-height:28px;z-index:2; font-size:14px;margin:5px 0 2px 0;color:red;}

/*=====================分类回滚========================*/
.flhg_con{ width:100%; margin:0 auto; overflow:hidden;}

.flhg_con_nav{ height:30px; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; margin:0 0 10px 0; clear:both}
.flhg_con_nav .flgh_con_nav_left{ 
background: url("images/location.gif") no-repeat scroll 0 0 transparent;
    color: #155FBE;
    display: inline;
    float: left;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    margin: 8px 15px;
    padding-left: 20px;
}
.flhg_con_nav .flgh_con_nav_right{ float:right; padding:5px 10px 5px 0;}

.flgh_con_con{ margin:0px 0; width:100%; height:auto;}
.flgh_con_con1{ vertical-align: top;border:1px solid #e9e9e9; width:48%; display: inline-block;}
.flgh_con_con1_nav{ height:25px; line-height:25px;background-color:#e4e4e4;text-align:left;}
.flgh_con_con1_nav span{ padding-left:10px; color:#333333}
.flgh_con_con1_con{ padding:20px;}

/*=====================展示分类管理========================*/
.zsflgl_con{ width:100%; overflow:hidden;background:#f7fbff;}
.zsflgl_con_left{ width:190px;padding:15px; float:left;}
.zsflgl_con_right{ width:94%;border-left:1px solid #d6e3f4;float:right; position:relative; background:#FFF;height: auto !important;height:450px;min-height:450px; }
.zsflgl_con_right .title{ height:30px; line-height:30px;background:#f6fbff url(images/zyml_type_titlebg.jpg) repeat-x}
.zsflgl_con_right .title h2{color:#155fbe; font-weight:bold;height:15px; line-height:15px;float:left; margin:8px 15px; padding-left:20px; background:url(images/location.gif) no-repeat;}
.zsflgl_con_right .sdbbj{ /*width:750px;*/height:21px;line-height:21px; margin:10px 0px;background:url(images/lock-open.gif) right center no-repeat;}
.zsflgl_con_right .sdbbj a{ width:93px;color:#FFF; margin-right:5px; padding-right:0px; float:right; text-align:right;}
.zsflgl_con_right .zsflgl_con_con{ width:100%; float:left;}
.zsflgl_con_right .zsflgl_con_con .glzfl{ width:143px; height:130px; margin:100px 0px 0px 190px; float:left;}
.zsflgl_con_right .zsflgl_con_con .glzyccfl{ width:143px; height:130px; margin:100px 0px 0px 100px; float:left;}
.sdcg{ height:28px; /*width:100%; */text-align:left; line-height:28px;z-index:2; background:#edfaeb; border:1px solid #b0daa8; margin:10px;}
.sdcg span{ color:#3b7e35; background:url(images/correct.gif) 10px center no-repeat; padding-left:30px;}
.sdsb{ height:28px; /*width:100%; */text-align:left; line-height:auto;z-index:2; background:#fffdeb; border:1px solid #edd19f; margin:10px;}
.sdsb .span{ color:#c36c10; background:url(images/warning.gif) 10px center no-repeat; padding-left:30px;}
.sdsb .span1{ color:#666666;}

.sder{ height:28px; /*width:100%; */text-align:left; line-height:28px;z-index:2; background:#fffdeb; border:1px solid #edd19f; margin:10px;}
.sder span{ color:#c36c10; background:url(images/warning.gif) 10px center no-repeat; padding-left:30px;}

/*=====================展示分类设置========================*/
.zsflsz_con{ width:100%; overflow:hidden; background:#f7fbff;}
.zsflsz_con_left{ width:190px;padding:15px; float:left;}
.zsflsz_con_right{ width:100%;margin:0 0 0 10px;border-left:0px solid #d6e3f4;float:right; position:relative; background:#FFF}
.zsflsz_con_right .title{ height:30px; line-height:30px;background:#f6fbff url(images/zyml_type_titlebg.jpg) repeat-x}
.zsflsz_con_right .title h2{color:#155fbe; font-weight:bold;height:15px; line-height:15px;float:left; margin:8px 15px; padding-left:20px; background:url(images/location.gif) no-repeat;}
.zsflsz_con_right .title h3{height:21px;line-height:21px; width:93px;float:right; margin:5px 0px;text-align:right;padding-right:8px; background:url(images/lock-closed.gif) no-repeat;}
.zsflsz_con_right .title h3 a{color:#ffffff; margin-right:5px;}
.zsflsz_con_right .title2{ position:absolute; top:3px; left:70px;}
.zsflsz_con_right .title2 a{ font-size:12px; color:#268cc3; border:1px solid #d3e3ef; height:25px; line-height:25px; display:block; float:left; margin-left:5px; padding:0px 8px;}
.zsflsz_con_right .title2 a:hover{ background:#FFF;line-height:23px;height:24px;border-bottom:1px solid #fff; border-top:2px solid #6ca1d3; color:#000}
.zsflsz_con_right .title2 a.cur{ background:#FFF;line-height:23px;height:24px;border-bottom:1px solid #fff; border-top:2px solid #6ca1d3; color:#000}

.zsflsz_con_right .sdbbj{ width:750px;height:21px;line-height:21px; margin:10px 0px;background:url(images/lock-open.gif) right center no-repeat;}
.zsflsz_con_right .sdbbj a{ width:93px;color:#FFF; margin-right:5px; padding-right:0px; float:right; text-align:right;}

.property_sx{ /*width:98%;*/ margin:10px;border:1px solid #dbdbdb}
.cateManage tr td.content table tbody tr.attrOfGroup td.sj{padding-left:20px;background: url("images/arrow3-gray-right.gif") no-repeat scroll 8px center transparent;}
.property_sx .property_sx_nav{ height:30px; background:#f2f2f2; width:100%;}
.property_sx .property_sx_nav h2{ float: left; line-height:30px; padding-left:15px; color:#333333; font-weight:bold}
.property_sx .property_sx_nav h4{ float: left; line-height:30px; color:#333333; }
.property_sx .property_sx_nav .update{ float:right;height:16px; line-height:16px;margin:8px 0px; padding-right:10px; padding-left:25px; background:url(images/pen2.gif) no-repeat left center;}
.property_sx .property_sx_nav .replace{ float:right;height:16px; line-height:16px;margin:8px 0px; padding-right:10px; padding-left:25px; background:url(images/arrow-rightAndLeft.gif) no-repeat left center;}
.property_sx .property_sx_nav .del1{ float:right;height:16px; line-height:16px;margin:8px 0px; padding-right:10px;padding-left:25px; background:url(images/delete.gif) no-repeat left center;}

.property_sx .property_sx_con{ margin:10px;text-align: left;}
.property_sx .property_sx_con ul li{ height:30px; line-height:30px;border-bottom:1px dotted #b2b2b2;padding:0px 10px;}
.property_sx .property_sx_con ul li span{ padding:0px 10px; color:#d3d3d3}
.property_sx .property_sx_con ul li .left{ width:60%; float:left;}
.property_sx .property_sx_con ul li .left1{ width:50%; float:left; padding-left:12px; background:url(images/arrow2-gray-right.gif) no-repeat left center; cursor:pointer}
.property_sx .property_sx_con ul li .left2{ width:50%; float:left; padding-left:12px; background:url(images/arrow2-gray-down.gif) no-repeat left center;cursor:pointer}
.property_sx .property_sx_con ul li .left3{ width:50%; float:left; margin-left:15px;padding-left:12px; background:url(images/arrow3-gray-right.gif) no-repeat left center;cursor:pointer}
.property_sx .property_sx_con ul li .right{ width:40%; float:right;}
.property_sx .property_sx_con .property_sx_con1{ margin:15px;color:#666666;}

.border_02{ border:1px solid #b1b1b1; height:18px; line-height:18px; padding-left:5px;float:left;display:block; width:auto; margin-right:10px;}
.border_02 .no{margin: 2px 2px 2px 6px;}
.border_03{ float:left; display:block; line-height:18px; margin-right:10px;}
.border_04{ border:1px dotted #b1b1b1; height:19px; line-height:19px; text-align:center;float:left;display:block; width:197px; margin-right:10px;}
.border_04:hover{color:#1761c0; cursor:pointer}
.no{ float:right;background:url(images/cancel1.gif) no-repeat left center;width:14px; height:14px;display:block; margin: 7px 2px 7px 6px;}

.property_sx1{ width:100%; margin-top:10px;text-align: left;}
.property_sx1 .left{border:1px solid #dbdbdb; width:30%; float:left;margin:0 0 0 10px; padding:5px;min-height:240px;}
.property_sx1 .right{border:1px solid #dbdbdb;float:right; width:66%;margin:0 10px 0 0; min-height:240px;}
.property_sx1 .right p{ margin:10px; color:#999999}
.property_sx1 .right p span{ color:#333333}
.property_sx1 .property_sx1_01{ margin: 0 10px 10px 10px;border:1px solid #dbdbdb; background:url(images/zyml_szsx_bg.jpg) repeat-x; height:100px;}
.property_sx1_con1{ margin:10px;color:#268cc3;}

.zsflsz_con_right .yes{ float:right;background:url(images/select-square-orange.gif) no-repeat left center;width:15px; height:16px;display:block; margin: 1px 1px 1px 6px; cursor:pointer}
.zsflsz_con_right .yes1{ float:right;background:url(images/select-square-gray.gif) no-repeat left center;width:15px; height:16px;display:block; margin: 1px 1px 1px 6px; cursor:pointer}

.property_sx_ts{width:100%; margin-left:0; padding:0; height:30px;border-bottom: 1px solid #DDDDDD;border-top: 1px solid #DDDDDD;}
.flhg_con_nav .left{ float:left;background:url(images/warning.gif) no-repeat left center; padding-left:20px; color:#f16800;height: 30px;line-height: 30px;margin: 0 0 0 10px;}
.property_sx_ts .right{ float:right;padding:5px 0;}
.property_sx_ts .right a{ color:#FFF; line-height:22px; text-align:center}

/*=====================资源存储分类管理========================*/
.zyccflgl_con{ width:100%; overflow:hidden;background:#f7fbff;}
.zyccflgl_con_left{ width:190px;padding:15px; float:left;}
.zyccflgl_con_right{ width:85%;float:right;border-left:1px solid #d6e3f4; background:#FFF}
.zyccflgl_con_right .title{ height:35px; line-height:35px; border-bottom:1px solid #d3e3ef;}
.zyccflgl_con_right .title .site{ float:left; width:150px; font-weight:bold; height:15px; line-height:15px; margin:10px 15px; padding-left:20px; background:url(images/location.gif) no-repeat left center;}
.zyccflgl_con_right .title span{ color:#155fbe;}
.zyccflgl_con_right .title .right a{ color:#FFF; padding-left:20px;}
.zyccflgl_con_right_con{ width:100%;}
.zyccflgl_con1{ background:url(images/zyml_zyccflgl_bg1.gif) repeat-x;border:1px solid #d6e3f4;height:auto !important;height:325px;min-height:325px; margin-bottom:6px; text-align:center;}
.zyccflgl_con1 .search_sx{ height:40px;color:#666666;}
.zyccflgl_con1 .search_sx table{ margin-top:13px;}
.zyccflgl_con1 .search_sx .search_sx1{background:url(images/zyml_search_zyccfl.gif) left center no-repeat; display:block; width:257px; height:27px;}
.zyccflgl_con1 .search_sx .sx_input{ display:block; float:left; /*height:30px;*/ overflow:hidden;}
.zyccflgl_con1 .search_sx .sx_input input{ background:none; height:27px; width:220px; margin:9px 5px; border:none; _padding-top:5px; color:#999999}
.zyccflgl_con1 .search_sx a{ display:block; width:25px; height:27px; float:right;_margin-top:3px;}

.zyccflgl_con1 .search_sx2:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}

* html .zyccflgl_con1 .search_sx2 {
	zoom: 1;
}

*:first-child+html .zyccflgl_con1 .search_sx2 {
	zoom: 1;
}

.zyccflgl_con1 .search_sx2{ width:100%; text-align:left; padding:10px 0px;}
.zyccflgl_con1 .search_sx2 .search_sx1_con{border:1px solid #d6e3f4; width:218px; float:left; height:30px;line-height:30px; padding:0px 10px; display:inline; margin:15px 12px; position:relative;}
.zyccflgl_con1 .search_sx2 .search_sx1_con span{ float:left}
.zyccflgl_con1 .search_sx2 .search_sx1_con a{ float:right; color:#155fbe; text-decoration:underline}
.zyccflgl_con1 .search_sx2 .search_sx1_con .img{ position:absolute; z-index:1; left:-5px; top:-5px; width:15px; height:15px; background:url(images/select-circle-blue.gif) no-repeat left center;}

.zyccflgl_con1 .search_sx2 .search_sx2_con{border:1px solid #d6e3f4; width:218px; float:left; height:30px;line-height:30px; padding:0px 10px; display:inline; margin:15px 12px; position:relative;}
.zyccflgl_con1 .search_sx2 .search_sx2_con span{ float:left}
.zyccflgl_con1 .search_sx2 .search_sx2_con a{ float:right; color:#155fbe; text-decoration:underline}
.zyccflgl_con1 .search_sx2 .search_sx2_con .img{ position:absolute; z-index:1; left:-5px; top:-5px; width:15px; height:15px; background:url(images/select-circle-gray.gif) no-repeat left center;}
.zyccflgl_con2{ /*border:1px solid #dbdbdb; margin:6px;*/height: auto !important;height:80px;min-height:80px;}
.zyccflgl_con2 .nav{ width:100%; height:30px; line-height:30px; overflow:hidden;background:#f2f2f2;}
.zyccflgl_con2 .nav	.num{width: 26px;height: 15px; line-height:15px;display:inline;float: left;margin: 8px 0px 8px 10px;background:url(images/pen1.gif) no-repeat 12px center;}
.zyccflgl_con2 .nav	.typename{ font-weight:bold;display:inline; float:left; line-height:30px; margin-left:10px;}
.zyccflgl_con2 .nav .del_img{float:right;margin:6px 10px;}

.zyccflgl_con2_con table{ height:45px;}
.zyccflgl_con2_con table tr th{ text-align:right;font-weight: normal;}
.zyccflgl_con2_con table tr td{padding: 4px 3px 4px 5px;}
.zyccflgl_con2_con table tr td .text1{ width:60px; height:15px; padding:0 5px;}
.zyccflgl_con2_con table tr td .text2{width:40px; height:15px; padding:0 5px;}
.property_type{ float:left; margin:5px 5px 5px 0; width:97px; height: 19px;}
.site_property{position:relative; float:left;margin:5px;clear: right; }
.site_property .site1{height:19px; line-height:19px;display:block; float:left;
color: #FFFFFF;
    font-family: "宋体",Arial;
    font-size: 12px;
    margin: 0 8px 0 0;
    padding: 0 5px;
    text-align: right;
    width: auto;
    filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6d9fde, endcolorstr=#4583d2,gradientType=0);
	-ms-filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6d9fde, endcolorstr=#4583d2,gradientType=0);
	background: #4583d2; 
	background: -moz-linear-gradient(top, #6d9fde, #4583d2);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6d9fde),to(#4583d2));
}
.site_yl{cursor:pointer;height:19px; line-height:19px;display:inline-block; /*float:left;*/color:#155fbe;  text-decoration:underline;text-align:center;}
.site_yl1{height:17px; line-height:17px;display:block; float:left;color:#155fbe; margin-left:10px; text-decoration:underline;text-align:center;}
.property_left{ position:absolute; left:80px; top:2px; width:8px; height:15px; background:url(images/arrow1-gray-left.gif) no-repeat left center; z-index:2}
.property{ position:absolute; left:87px;top:-10px;border:1px solid #a6a6a6; padding:5px; background:#FFF;z-index:1;}

.zyccflgl_con2_con .list{background:url(images/suo.gif) no-repeat left 50%;padding-left:23px;  height:auto; /*width:94%;*/margin:0 0 0 10px;}
.zyccflgl_con2_con .list ul li{}
.zyccflgl_con2_con .list ul li.first{/*background:url(images/top.gif) no-repeat left 21px; padding-top:21px;*/}
.zyccflgl_con2_con .border{border-left:2px solid #6e6e6e; padding-bottom:9px;}
.zyccflgl_con2_con .content{/*height:80px;*/ /*border:1px solid #dddddd;*/ margin:0 0 0 13px; position:relative;/*top:-15px;*/}
.zyccflgl_con2_con .list ul li.last{/*background:url(images/top.gif) no-repeat left 0;*/}
.zyccflgl_con2_con .noborder{border:0px;}
.zyccflgl_con3{ padding:7px 0 8px; margin:0px; border:none}


/*=====================属性值管理========================*/
.property_name{ height:16px; line-height:15px;_line-height:23px; margin-left:0px; background:url(images/query1.gif) no-repeat right center;width:80px; overflow:hidden;}

.property_value .property_input{ width:200px; height:19px; float:left; padding:0px 5px; margin-left:20px;}
.property_value .property_input1{ /*width:200px;*/ height:19px; float:left; padding:0px 5px; margin-left:0px;}
.property_value .property_input2{ width:200px; height:19px; float:left; padding:0px 5px; margin-left:15px;}
.property_value .property_site{ width:25px; height:19px; background:url(images/addChild-blue.gif) no-repeat left center; display:block; float:left;margin-left:10px;}
.property_value .property_view_down,.property_value .property_view_right,.property_value .property_view_none{ width:15px; height:19px; background-repeat:no-repeat;background-position:left center; display:block; float:left;}
.property_value .property_view_down{background-image:url(images/arrow2-blue-down.gif)}
.property_value .property_view_right{background-image:url(images/arrow2-blue-right.gif)}
td.layer1{
    padding-left:10px;
}
td.layer2{
    padding-left:30px;
}
td.layer3{
    padding-left:50px;
}
td.layer4{
    padding-left:70px;
}

/*=====================属性设置========================*/
.property_site table th{ font-weight:normal}
.property_site .property_input{ width:100px; height:14px; /*text-align:center;*/ padding:0px 5px; margin-left:20px;}
.property_tjlx{ /*margin:10px 0px;*/ display:block; /*height:50px;*/}
.property_tjlx .span_stan{width:100%;height:30px;display:block;}


/*============栏目列表型============*/
.tab_box_input{ margin:5px 0px 0px 7px; border:1px solid #ced3d7; height:17px; width:212px;vertical-align:bottom}
.queryInput{border:1px solid #ced3d7; height:17px;}
.tab_box_button{ width:23px; height:21px; background:url(images/query2.gif) no-repeat left center; vertical-align:bottom}
.titlelist { width:100%; background:#fff;overflow-x: hidden;overflow-y: auto;height:357px; }
.titlelist h3 { width:100%; height:27px; line-height:27px; background:#eff5fb; border-bottom:#aac1de 1px solid; text-align:left; }
.titlelist h3 span { color:#1e5494; margin-left:15px; }
.titlelist ul { width:100%; overflow:hidden; padding:5px 0; }
.titlelist li { width:98%; margin:0 auto; /*height:24px;*/ line-height:24px; text-align:left; }
.titlelist li span {height:24px; line-height:20px;display:inline; margin-left:5px; }
.titlelist li a { color:#333333!important; float:left; display:inline; background:none; text-decoration:none!important; width:100%; text-indent:5px; }
.titlelist li a:hover { background:#f8e2c2; }
.titlelist1{ padding-left:10%;}
.titlelist1 a:hover{width:90%;}

.titlelist .current { background:#dce8f8; }
.titlelist .current span { background:url(images/ico_75.gif) left center no-repeat; }
.titlelist .current span.ico_down { background:url(images/ico_75_down.gif) left center no-repeat;}

/*=====================属性组管理========================*/
.sxz_yl{padding:0px; width:958px;display:none}
.sxz_yl1{padding:0px; width:958px;}
.sxz_yl_box{ min-height: 30px;height:auto;width:100%;border:1px solid #dbdbdb; margin: -1px 0 5px -1px; background:#FFF; position:relative; z-index:2;}
.sxz_yl_top{ width:15px; height:9px; position:absolute; top:-9px; left:65%; background:url(images/arrow1-gray-top.gif) no-repeat left center;}
.sxz_yl_right{ width:24px; height:24px;position:absolute;top:0px; right:0px;}
.sxz_yl_right a{width:24px; height:24px;display:block;background:url(images/cancel2.gif) no-repeat left center;}
.sxz_yl_right a:hover{background:url(images/cancel3.gif) no-repeat left center;}


.sxz_yl_list{padding-left:23px;width: 100%; /*margin-left:5px;*/ }
.sxz_yl_list ul li{}
.sxz_yl_list ul li.first{/*background:url(images/top.gif) no-repeat left 21px;*/ padding-top:21px;}
.sxz_yl_list ul li.last{/*background:url(images/top.gif) no-repeat left 0;*/}
.sxz_yl_list .border{border-left:2px solid #6e6e6e;}
.sxz_yl_list .noborder{padding-left:2px;}
.sxz_yl_list .contentEach{margin:0 0 0 13px; /*position:relative; top:-15px;*/}
.sxz_yl_list table{ border-bottom:1px dotted #b2b2b2;width: 96%;}
.sxz_yl_list td{ border:none; padding:0px 10px; height:30px; line-height:30px;}
.sxz_yl_list .list,.sxz_yl_list .one{padding: 0 0 0 20px;margin-bottom: 10px;}
.sxz_yl_list .list,.zyccflgl_con2_con .list{background:url(images/suo.gif) no-repeat left 50%;}
.sxz_yl_list .head{}
.sxz_yl_list .head td{font-weight:bold;}
.sxz_yl_list div.first,.zyccflgl_con2_con div.first{background:url(images/listTop.gif) no-repeat left 0%;}
.sxz_yl_list div.last,.zyccflgl_con2_con div.last{background:url(images/listBottom.gif) no-repeat left 100%;}

.property_site_tck{ margin:20px; border:1px solid #bfdeff; background:#f6f9fe; /*width:676px; height:400px;*/}
.property_site_tck_input{ margin:10px 0px 0px 15px; border:1px solid #ced3d7; height:17px; width:620px;vertical-align:bottom}
.property_site_tck table{ margin:15px; border:1px solid #b0cbe0; width:645px;}
.property_site_tck table tr th{ height:30px; line-height:30px; text-align:left; background:#e8f0fb; border-bottom:1px solid #b0cbe0}
.property_site_tck table tr td{ height:30px; line-height:30px; text-align:left; background:#FFF; vertical-align:middle; border-bottom:1px dashed #b2b2b2}
.property_site_tck table tr td a{ line-height:30px;}
.property_site_tck1{ float:right; margin-right:5px;}
.property_site_tck1 .btn{ float:right; margin-right:10px;}

.preview {
	position: relative;
	float:right;
}
.preview .previewArea {
	display:none;
	position: absolute;
	top: -20px;
	z-index:1000;
	background:url(images/previewLeftBg.gif) no-repeat 0px 0px;
}
.preview .previewContent {	
	line-height:20px;
	width:100%;
	height:100%;
	margin:0 0 0 8px;
	padding:5px;
	border-top: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	white-space:nowrap;
	background-color:#fff ;
	min-height:40px;
	height:auto !important; 
    height:40px; 	
	min-width:80px;
}
.labelgray{
	color:gray;
}

/*
.queryInput{
	width:115px;
	height:15px;
    float:left;
}*/
.queryBtnS,.queryBtn{
	background-repeat:no-repeat;
	background-position:left center;
	border: 0 none;
    display:inline-block;
    margin: 0;
    padding: 0;
    cursor:pointer;
}
.queryBtnS{
	background-image:url(images/query1.gif);
	width:17px;
	height:15px;
	margin-left:5px;
    vertical-align: text-bottom;
}
.queryBtn{
	background-image:url(images/query2.gif);
	width:23px;
	height:21px;
}
.attrTypeEach{
	height:30px;
	width:100%;
}
.header{
	height: 119px;
}
#mainframe_content_table{
	overflow-y:scroll;
	overflow-x: hidden;
}



.cateManage {
	font-size: 12px;
	text-align: left;
	margin: 10px auto 0;
	padding: 0;
	width: 99%;
	border: 1px solid #D4E3F8;
}

.cateManage tr td.tree {
	border-right: 1px solid #D4E3F8;
	width: 300px;
	height:400px;
	padding: 5px;
}

.cateManage tr td.buttonList {
	border-bottom: 1px solid #D4E3F8;
	width: 70%;
	height: 30px;
	background-color: #F5FAFF;
	padding: 0;
}

.cateManage tr td.buttonList #buttonListDiv {
	width: 100%;
	height: 100%;
}

.cateManage tr td.buttonList .left {
	height: 30px;
	line-height: 30px;
	width: 500px;
	position: relative;
	padding: 0 0 0 25px;
	background-image: url(images/location.gif);
	background-position: 5px center;
	background-repeat: no-repeat;
}

.cateManage tr td.buttonList .left div {
	color:#155FBE;
	font-weight: bold;
	float: left;
}

.cateManage tr td.buttonList .left div.optionGroup {
	left: 40px;
	position: absolute;
	top: 0;
	font-weight: normal;
	width: 200px;
}

.cateManage tr td.buttonList .left div.optionGroup a {
	display: block;
	float: left;
	margin: 3px 5px 0 5px;
	padding: 1px 8px;
	color: #2390C8;
	text-decoration: none;
	border: 1px solid #D4E3E8;
	background-color: #F2F9FF;
	height: 24px;
	line-height: 23px;
}

.cateManage tr td.buttonList .left div.optionGroup a.blueBgNow {
    border-top: 2px solid #6CA1D3;
	border-bottom: 1px solid #FFFFFF;
	color: #000000;
	background-color: #FFFFFF;
}

.cateManage tr td.buttonList .right {
	float: right;
	height: 30px;
	line-height: 30px;
}

.cateManage tr td.content {
	padding: 0;
	text-align: center;
}

.cateManage tr td.content #contentDiv {
	padding: 0;
}

.cateManage tr td.content input[type=button] {
	border-color: transparent !important;
	background: transparent !important;
	color: #0000FF;
	text-decoration: underline;
	color: #0000FF;
	cursor: pointer;
}

.cateManage tr td.content table {
	width: 100%;
}
.cateManage tr td.content table.cateTable,#attrGroupSearchDiv,#refAttrGroupDiv{
    margin: 10px auto 0;
    width: 98%;
}

.cateManage tr td.content table  thead th,.cateManage tr td.content table tbody tr td
	{
	height: 30px;
	text-align: left;
	padding: 0 3px;
}
.cateManage tr td.content table thead th {
	background-color: #EDEDED;
}

.cateManage tr td.content table tbody tr td {
	border-bottom: 1px solid #EDEDED;
}

.cateManage tr td.content table.attrEach {
	border: 1px solid #EDEDED;
	margin: 0 0 15px 0;
}

.cateManage tr td.content table.attrEach thead th {
	font-weight:bold;
	color: #0000CC;
}

.cateManage tr td.content table.attrEach tbody td {
	border: none;
}

.cateManage tr td.content table.attrEach tbody span {
	margin: 0 40px 0 0;
}

.cateManage div.message {
	/*height: 30px;
	line-height: 30px;*/
	text-align: left;
	padding: 5px 5px 5px 36px;
	background-repeat: no-repeat;
	background-position: 10px center;
    margin: 5px;
}

.cateManage div.success {
	color: #3A8334;
	background-color: #EEFAEC;
	border: 1px solid #B3D8AC;
	background-image: url(images/correct.gif);
}

.cateManage div.fail {
	color: #F32639;
	background-color: #fbccd0;
	border: 1px solid #F45968;
	background-image: url(images/fail.gif);
}

.cateManage div.alarm {
	color: #C06D11;
	background-color: #FFFCED;
	border: 1px solid #EAD39F;
	background-image: url(images/warning.gif);
}
.sortUp{
	display:inline-block;
	float:left;
	width:17px;
	height:19px;
	background-image: url(images/sort-up.gif);
	background-repeat: no-repeat;
	background-position: center center;
 cursor:pointer;
}
.sortDown{
	display:inline-block;
	float:left;
	width:17px;
	height:19px;
	background-image: url(images/sort-down.gif);
	background-repeat: no-repeat;
	background-position: center center;
 cursor:pointer;
}
table.omit{
border-collapse: collapse;
    color: #333333;
    table-layout: fixed;
    text-align: left;
    width: 100%;
}
table.omit td,table.omit th{
    height: 35px;
    line-height: 35px;
    padding: 10px 10px;
}
table.omit td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}
.gradualBlue,.gradualOrange,.gradualRed,.gradualGray {
	display: inline-block;
	width: auto;
	height: 20px;
	line-height: 20px;
	color:#FFFFFF;
	font-size:12px;
	font-family:"宋体",Arial;
	padding:0 5px;
	text-align:right;
	margin: 0 8px 0 0;
	border:none;
	*width: 70px;
	*display: block;
	*float:left;
}
.gradualBlue a,.gradualOrange a,.gradualRed a,.gradualGray a{
        color:#fff;
}
.gradualBlue {
	filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6d9fde, endcolorstr=#4583d2,gradientType=0);
	-ms-filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#6d9fde, endcolorstr=#4583d2,gradientType=0);
	background: #4583d2; 
	background: -moz-linear-gradient(top, #6d9fde, #4583d2);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6d9fde),to(#4583d2));
}
.gradualOrange {
	filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#f5a623, endcolorstr=#f18a00,gradientType=0);
	-ms-filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#f5a623, endcolorstr=#f18a00,gradientType=0);
	background: #f18a00; 
	background: -moz-linear-gradient(top, #f5a623, #f18a00);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f5a623),to(#f18a00));
}
.gradualRed {
	filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e5787a, endcolorstr=#d53134,gradientType=0);
	-ms-filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e5787a, endcolorstr=#d53134,gradientType=0);
	background: #d53134; 
	background: -moz-linear-gradient(top, #e5787a, #d53134);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e5787a),to(#d53134));
}
.gradualGray {
	filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#dddddd, endcolorstr=#bbbbbb,gradientType=0);
	-ms-filter: alpha(opacity=100,finishopacity=100,style=1,startx =0,starty=0,finishx=0,finishy=21) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#dddddd, endcolorstr=#bbbbbb,gradientType=0);
	background: #bbbbbb; 
	background: -moz-linear-gradient(top, #dddddd, #bbbbbb);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dddddd),to(#bbbbbb));
}
.toolbarSelect{
        margin: 0 8px 0 0;
}
.toolbarSelect,.toolbarSelect option{
	height: 21px;
	line-height: 21px;
}

.pager {
    background: url("images/ui-bg_glass_80_d7ebf9_1x400.gif") repeat-x scroll 50% 50% #D7EBF9;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: #DBDBDB -moz-use-text-color -moz-use-text-color;
    border-top-color:#DBDBDB;
    border-style: solid none none;
    border-width: 1px 0 0;
    color: #2779AA;
    font-weight: bold;
    width: 100%;
}
.con_content {
	border: 1px solid #D3E3EF;
	margin: 0 auto 30px;
	text-align: center;
	/*width: 940px;*/
}

.flowChartHead {
	background: url("images/zyml_con_nav.gif") repeat-x scroll 0 0
		transparent;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	padding-left: 15px;
	text-align: left;
	color: #155FBE;
	font-weight: bold;
}

.previewContent ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.previewContent li{
    line-height: 20px;
}	

.previewContent a.haveChild{
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(images/arrow5-black-right.gif);	
    height: 20px;
    line-height: 20px;
    display:block;
    width:10px;
}
.previewContent a.haveChild:hover{
    cursor:pointer;
	/*background-color:#BBBBBB;*/
}
.cateManage tr td.content table.previewTable tbody tr td{
	border:none;
}
td.nothing{
	text-align:center;
}
.attrEach select{
	height:21px;
	width: 125px;
}
.attrEach .site_property{
	margin:0;
}
.savePrompt{
	position: absolute;
	z-index: 102;
	background: url(images/guidebg.gif) no-repeat;
	background-position: 0 -865px;
	width:322px;
	height:144px;
	left:-310px;
	top:-90px;
}
.savePrompt .tipboxNextbtn{
	position: absolute;
	display: inline-block;
	width: 64px;
	height: 22px;
	cursor: pointer;
	left: 92px;
    top: 82px;
}
.savePromptBg_iframe {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.savePromptBg {
	filter: alpha(opacity = 60);
	opacity: 0.6;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	background-color: #DCE2F1;
	z-index: 101;
	position: absolute;
	left: 0px;
	top: 0px;
}
.savePrompt .notip{	
    position: absolute;
	left: 180px;
    top: 82px;
}

.notip input[type=checkbox]{
	vertical-align: middle;
}
.notip label {
	vertical-align: middle;
	color: #0c5685;
}
.ui-jqgrid tr.jqgrow td{
	font-size:14px;
	height:28px;
}
table.tablednd tbody tr td.oper {
	background-image:url(images/movebg.gif);
	background-repeat:no-repeat;
	background-position:right center;
}
table.tabledndNoBackground tbody tr {
	background-image:none;
	background-repeat:no-repeat;
	background-position:98% center;
}
table.tablednd tbody tr:hover {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
    background-color: #DCE2F1; 
    background-image:none; 	
} 