body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

#all {
	width: 970px;
	height: 820px;
	margin: 0 auto;
	background-image: url(../image/register_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
}

#uname,#pwd,#repwd,#name,#email,#mobile {
	width: 170px;
	height: 32px;
	position: absolute;
	left: 410px;
	background-color: #adb0b4;
	border: none;
	padding: 0 5px;
}

#uname,#point_uname {
	top: 172px;
}

#pwd,#point_pwd {
	top: 226px;
}

#repwd,#point_repwd {
	top: 280px;
}

#name,#point_name {
	top: 334px;
}

#email,#point_email {
	top: 388px;
}

#mobile,#point_mobile {
	top: 442px;
}

#register {
	display: block;
	width: 110px;
	height: 70px;
	background-image: url(../image/register.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 424px;
	top: 548px;
}

#register:hover {
	background-image: url(../image/register_hover.png);
}

#point_uname,#point_pwd,#point_repwd,#point_name,#point_email,#point_mobile
	{
	position: absolute;
	left: 600px;
	line-height: 32px;
	display: block;
	width: 320px;
	min-height: 32px;
}

.tip {	
	color: #819D93;
}

.error {
	color: #d3d5d4;
	background-image: url(../image/error.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 24px;
}

.ok {
	background-image: url(../image/ok.png);
	background-repeat: no-repeat;
	background-position: left center;
}