#waitingBg_iframe {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#waitingBg {
	filter: alpha(opacity = 60);
	opacity: 0.6;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	background-color: #DCE2F1;
	z-index: 101;
	position: absolute;
	left: 0px;
	top: 0px;
}

#waitingLayer {
	padding: 0px;
	z-index: 102;
	font: 18px '\u5b8b\u4f53';
	color: #fff;
	text-align: center;
	position: absolute;
	background: url("image/loader.gif") no-repeat center top
		transparent;
}