<link href="$static_server_name/css/admin-style.css" rel="stylesheet" type="text/css" />
<script src="$!static_server_name/js/ajaxfileupload.js" type="text/javascript"></script>
<script src="$!static_server_name/js/common.js" type="text/javascript"></script>
<script src="$!static_server_name/js/waiting.js" type="text/javascript"></script>
<link href="$static_server_name/css/waiting.css" rel="stylesheet" type="text/css" />
<form enctype="multipart/form-data">
    <table style="margin: auto;">
    	<tr>
    		<td style="width: 200px;">上传文件：</td>
    		<td style="width: 80%;">
				<input type="hidden" id="name" readonly="readonly" maxlength="100"/>
				<input id="upload" name="upload" type="file" style="width: 500px;"/>
				<br>（<font color="red">5MB</font>以内，可上传格式：$!fileType_file）
				<input type="hidden" id="path"/>
			</td>
    	</tr>
    	<tr>
    		<td colspan="2">
				<br>
				<button type="button" id="baocun">保存</button>
    			<button type="button" id="qx" onclick="history.go(-1);">取消</button>
    		</td>
    	</tr>
    </table>
</form>
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('#baocun').click(
    		function() {
    			waiting();
    			var name = jQuery('#upload').val().substring(
    					jQuery('#upload').val().lastIndexOf('\\') + 1);
    			jQuery('#name').val(name);
    			jQuery.ajaxFileUpload({
    				url : '$!server_name/kindeditor/file_upload?dir=file',
    				type : "post",
    				secureuri : false,
    				fileElementId : 'upload',
    				dataType : "text/html",
    				success : function(data) {
    					waitingClose();
    					if (data.indexOf("login") > -1) {
    						alert('操作失败，您未登录！');
    						window.location = '$static_server_name/login.html';
    					} else {
    						var objJson = JSON.parse(data);
    						if ("0" == objJson.error) {
    							$('#path').val(objJson.url);
    							downloadSave();
    						} else {
    							alert("上传失败，" + objJson.message + "！");
    							jQuery('#name').val('');
    						}
    					}
    				},
    				error : function(msg) {
    					waitingClose();
    					jQuery('#name').val('');
    					alert("上传失败！");
    				}
    			});
    		});
});
function downloadSave() {
	if (!jQuery('#name').val() || !jQuery('#path').val()) {
		alert('请上传文件！');
		return false;
	}
	jQuery.post("$server_name/sys/download/save", {
		path : jQuery('#path').val(),
		name : jQuery('#name').val()
	}, function(data) {
		if (data == 1) {
			alert('保存成功！');
			window.location = '$server_name/sys/download/list';
		} else if (data == 2) {
			jQuery('#name').val('');
			alert('操作失败，您未登录！');
			window.location = '$static_server_name/login.html';
		} else {
			jQuery('#name').val('');
			alert('操作失败，请稍候重试！');
		}
	});
}
</script>